<p id="notice"><%= notice %></p>

<p>
  <strong>Section:</strong>
  <%= @appointment.section %>
</p>

<p>
  <strong>Time slot:</strong>
  <%= @appointment.time_slot %>
</p>

<p>
  <strong>Company:</strong>
  <%= @appointment.company %>
</p>

<p>
  <strong>Student:</strong>
  <%= @appointment.student %>
</p>

<p>
  <strong>Uin:</strong>
  <%= @appointment.UIN %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
