<%= form_for(@student) do |f| %>

  <div>
  <font size="5px" color=maroon><strong><%= "2015 IAP Recruiting and Reception/CSE-Only Career Fair"%></strong></font><br><br>
  <font size="4px" color=maroon><%= "Student Registration"%></font><br><br>
  <p><font size="3px"><strong><%= "Basic Information"%></strong></font></p>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= "UIN" %><br>
    <%= f.text_field :UIN %><br>

    <%= f.label :email %><br>
    <%= f.text_field :email %><br>

    <%= "I am a US-Citizen" %>
    <%= f.check_box :US_Citizen %><br>

    <%= f.label :Student_level_recruiting %><br>
    <%= f.select :degree, options_for_select(%w[B.S. M.S. PH.D]) %><br>

    <%= f.label :Job_position_recruiting %><br>
    <%= f.select :position_type, options_for_select(%w[Internship Full-time]) %><br><br>
  </div>


  <div>
  <p><font size="3px"><strong><%= "Event and Time Selection" %></strong></font></p>
  </div>
 
  <div class="field">
    <%= "Monday 1:00 - 3:00 a.m. Mock Interviews 1." %><br>
    <%= f.select :Mock_1, options_for_select(@mock_1_slots), :prompt=>"---Please select time for Mock Interview 1 ---" %>
  </div>

  <div class="field">
    <%= "Monday 9:30 - 11:30 a.m. Resume Clinic 1." %><br>
    <%= f.select :Resume_1, options_for_select(@resume_1_slots), :prompt=>"---Please select time for Resume Clinic 1 ---"%>
  </div>

  <div class="field">
    <%= "Monday 3:00 - 5:00 p.m. Resume Clinic 2." %><br>
    <%= f.select :Resume_2, options_for_select(@resume_2_slots), :prompt=>"---Please select time for Resume Clinic 2 ---"%>
  </div>

  <div class="field">
    <%= "Tuesday 1:00 - 3:00 p.m. Mock Interviews 2." %><br>
    <%= f.select :Mock_2, options_for_select(@mock_2_slots), :prompt=>"---Please select time for Mock Interview 2 ---" %>
  </div>

  <div class="field">
    <%= "Tuesday 9:30 - 11:30 a.m. Resume Clinic 3." %><br>
    <%= f.select :Resume_3, options_for_select(@resume_2_slots), :prompt=>"---Please select time for Resume Clinic 3 ---" %>
  </div>

  <div class="field">
    <%= "Select if you will be attending the Lunch with "%>
    <strong><%= "Student Organization Leaders"%></strong>
    <%= " and " %>
    <strong><%= " Company Representatives"%></strong>
    <%= " from 11:45am - 12:45pm, "%>
    <strong><%="Monday"%></strong><br>
    <%= f.select :Lunch, options_for_select(@lunch_slots), :prompt=>"---Please select---" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
