<h1>Editing Student</h1>

<% if flash[:notice] %>
    <div id="error_explanation">
      <h2><%= pluralize(flash[:notice].count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% flash[:notice].each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= render 'form' %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
