<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>
<p> Students registered for lunch:
<%= @lunch_total%>
</p>
<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Uin</th>
      <th>Email</th>
      <th>Us citizen</th>
      <th>Degree</th>
      <th>Position type</th>
      <th>Mock 1</th>
      <th>Mock 2</th>
      <th>Resume 1</th>
      <th>Resume 2</th>
      <th>Resume 3</th>
      <th>Lunch</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.UIN %></td>
        <td><%= student.email %></td>
        <td><%= student.US_Citizen %></td>
        <td><%= student.degree %></td>
        <td><%= student.position_type %></td>
        <td><%= student.Mock_1 %></td>
        <td><%= student.Mock_2 %></td>
        <td><%= student.Resume_1 %></td>
        <td><%= student.Resume_2 %></td>
        <td><%= student.Resume_3 %></td>
        <td><%= student.Lunch %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
<br>
<%= link_to 'Back', sessions_url %>