<%= form_for(@company) do |f| %>

  <div style = "text-align: center;">
  <font size="5px" color=maroon line height = "5px"><strong><%= "2015 IAP Recruiting Events and Reception/CSE-Only Career Fair"%></strong></font><br><br>
  </div>

  <div style = "text-align: center">
  <font size="5px"><strong><%= "Company Registration"%></strong></font><br><br>
  </div>

</body>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this timeslot from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"><font size="4px">
    <br><br>•
    <%= f.label :"Enter your company name"%><br>
    <%= f.text_field :name %>
  </font>
    <br><br>
  </div>

  <div class="field"><font size="4px">•
    <%= "Enter the names of your company's representatives that will be attending the events. "%>
    <strong><%="Platinum members may provide up to 6 representatives, Gold 4, and Silver 2" %></strong></font>
  </div>

  <div>    
    <%= "1.)  "%>
    <%= f.text_field :rep_1 %>
    <br>
    <%= "2.)  "%>
    <%= f.text_field :rep_2 %>
    <br>
    <%= "3.)  "%>
    <%= f.text_field :rep_3 %>
    <br>
    <%= "4.)  "%>
    <%= f.text_field :rep_4 %>
    <br>
    <%= "5.)  "%>
    <%= f.text_field :rep_5 %>
    <br>
    <%= "6.)  "%>
    <%= f.text_field :rep_6 %>
    <br>
  </div><br><br>

  <font size="4px">
  <div class="field">•
    <%= "Enter your company's contact person for this event" %>
</div>
  </font>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :contact_person %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :contact_email %>
  </div>

  <font size="4px">
  <div class="field"><br>•
    <%= f.label :"Select your company's sponsor level" %><br>
    <%= f.select :sponsor_level, options_for_select(%w[Platinum Gold Silver]), :prompt=>"---Please select---" %>
  </div>
  <div class="field"><br>•
    <%= "Select if you hire US citizens only, or not"%><br>
    <%= f.select :citizenship, options_for_select(["US Citizen Only", "Any"]), :prompt=>"---Please select---" %>
  </div>
  <div class="field"><br>•
    <%= f.label :"Select the job type you are offering" %><br>
    <%= f.select :job_type, options_for_select(%w[Internship Full-time Any ]), :prompt=>"---Please select---" %>
  </div>
  <div class="field"><br>•
    <%= f.label :"Select the student level you are employing"%><br>
    <%= f.select :student_level, options_for_select(%w[B.S. Master's PH.D Any]), :prompt=>"---Please select---" %>
  </div>
  
  <div class="field"><br>•
    <%= "Choose for each event the number of representatives that is attending. Select 0 for the event you are not attending" %>
  </font></div>

  <font size = "2.8em">
  <div class="field">
    <%= "Resume Clinic 1. Monday 9:30 - 11:30 a.m." %>
    <%= f.label :"Number of representatives attending" %><br>
    <%= f.select :clinic_1_rep_no, options_for_select(%w[0 1 2 3 4 5 6]), :prompt=>"---Please select---" %><br>
    <%= "Mock Interviews 1. Monday 1:00 - 3:00 a.m." %>
    <%= f.label :"Number of representatives attending" %><br>
    <%= f.select :intvw_1_rep_no, options_for_select(%w[0 1 2 3 4 5 6]), :prompt=>"---Please select---" %><br>
    <%= "Resume Clinic 2. Monday 3:00 - 5:00 p.m." %>
    <%= f.label :"Number of representatives attending" %><br>
    <%= f.select :clinic_2_rep_no, options_for_select(%w[0 1 2 3 4 5 6]), :prompt=>"---Please select---" %><br>
    <%= "Resume Clinic 3. Tuesday 9:30 - 11:30 a.m." %>
    <%= f.label :"Number of representatives attending" %><br>
    <%= f.select :clinic_3_rep_no, options_for_select(%w[0 1 2 3 4 5 6]), :prompt=>"---Please select---" %><br>
    <%= "Mock Interviews 2. Tuesday 1:00 - 3:00 p.m." %>
    <%= f.label :"Number of representatives attending" %><br>
    <%= f.select :intvw_2_rep_no, options_for_select(%w[0 1 2 3 4 5 6]), :prompt=>"---Please select---" %><br>
  </font>
  </div>

  <br>
  <div class="field">•
    <%= "Select if you will be attending the Lunch with "%>
    <strong><%= "Student Organization Leaders"%></strong><br>
    <%= " and " %>
    <strong><%= " Company Representatives"%></strong>
    <%= " from 11:45am - 12:45pm, "%>
    <strong><%="Monday"%></strong><br>
    <%= f.select :lunch_rep_no, options_for_select(%w[0 1 2 3 4 5 6]), :prompt=>"---Please select---" %>
  </font><br><br>
  </div>
  
  <br>
  <div class="actions" >
    <input type="submit" name="Submit" value="Submit" style=" width:180px; font-size: 20px; padding: 10px;" />
    </font>
  </div>
<% end %>
