<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :contact_person %><br>
    <%= f.text_field :contact_person %>
  </div>
  <div class="field">
    <%= f.label :contact_email %><br>
    <%= f.text_field :contact_email %>
  </div>
  <div class="field">
    <%= f.label :sponsor_level %><br>
    <%= f.text_field :sponsor_level %>
  </div>
  <div class="field">
    <%= f.label :citizenship %><br>
    <%= f.text_field :citizenship %>
  </div>
  <div class="field">
    <%= f.label :job_type %><br>
    <%= f.text_field :job_type %>
  </div>
  <div class="field">
    <%= f.label :student_level %><br>
    <%= f.text_field :student_level %>
  </div>
  <div class="field">
    <%= f.label :rep_1 %><br>
    <%= f.text_field :rep_1 %>
  </div>
  <div class="field">
    <%= f.label :rep_2 %><br>
    <%= f.text_field :rep_2 %>
  </div>
  <div class="field">
    <%= f.label :rep_3 %><br>
    <%= f.text_field :rep_3 %>
  </div>
  <div class="field">
    <%= f.label :rep_4 %><br>
    <%= f.text_field :rep_4 %>
  </div>
  <div class="field">
    <%= f.label :rep_5 %><br>
    <%= f.text_field :rep_5 %>
  </div>
  <div class="field">
    <%= f.label :rep_6 %><br>
    <%= f.text_field :rep_6 %>
  </div>
  <div class="field">
    <%= f.label :job_type %><br>
    <%= f.text_field :job_type %>
  </div>
  <div class="field">
    <%= f.label :student_level %><br>
    <%= f.text_field :student_level %>
  </div>
  <div class="field">
    <%= f.label :intvw_1_rep_no %><br>
    <%= f.number_field :intvw_1_rep_no %>
  </div>
  <div class="field">
    <%= f.label :intvw_2_rep_no %><br>
    <%= f.number_field :intvw_2_rep_no %>
  </div>
  <div class="field">
    <%= f.label :clinic_1_rep_no %><br>
    <%= f.number_field :clinic_1_rep_no %>
  </div>
  <div class="field">
    <%= f.label :clinic_2_rep_no %><br>
    <%= f.number_field :clinic_2_rep_no %>
  </div>
  <div class="field">
    <%= f.label :clinic_3_rep_no %><br>
    <%= f.number_field :clinic_3_rep_no %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
