<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :UIN %><br>
    <%= f.text_field :UIN %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :US_Citizen %><br>
    <%= f.check_box :US_Citizen %>
  </div>
  <div class="field">
    <%= f.label :degree %><br>
    <%= f.select :degree, options_for_select(%w[B.S. M.S. PH.D]) %>
  </div>
  <div class="field">
    <%= f.label :position_type %><br>
    <%= f.select :position_type, options_for_select(%w[Internship Full-time]) %>
  </div>

  <div class="field">
    <%= f.label :Mock_Interview_1  %><br>
    <%= f.select :Mock_1, options_for_select(@mock_1_slots), :prompt=>"Please select time for Mock Interview 1 on...." %>
  </div>

  <div class="field">
    <%= f.label :Mock_Interview_2  %><br>
    <%= f.select :Mock_2, options_for_select(@mock_2_slots), :prompt=>"Please select time for Mock Interview 2 on...." %>
  </div>

  <div class="field">
    <%= f.label :Resume_Clinic_1  %><br>
    <%= f.select :Resume_1, options_for_select(@resume_1_slots), :prompt=>"Please select time for Resume Clinic 1 on...."%>
  </div>

  <div class="field">
    <%= f.label :Resume_Clinic_2  %><br>
    <%= f.select :Resume_2, options_for_select(@resume_2_slots), :prompt=>"Please select time for Resume Clinic 2 on...."%>
  </div>

  <div class="field">
    <%= f.label :Resume_Clinic_3 %><br>
    <%= f.select :Resume_3, options_for_select(@resume_2_slots), :prompt=>"Please select time for Resume Clinic 2 on...." %>
  </div>

  <div class="field">
    <%= f.label :Lunch  %><br>
    <%= f.select :Lunch, options_for_select(@lunch_slots), :prompt=>"Please select time for Lunch on...." %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
