<p id="notice"><%= notice %></p>

<p>
  <strong>Stu name:</strong>
  <%= @appointment.stu_name %>
</p>

<p>
  <strong>Uin:</strong>
  <%= @appointment.UIN %>
</p>

<p>
  <strong>Stu email:</strong>
  <%= @appointment.stu_email %>
</p>

<p>
  <strong>Section:</strong>
  <%= @appointment.section %>
</p>

<p>
  <strong>Time slot:</strong>
  <%= @appointment.time_slot %>
</p>

<p>
  <strong>Company:</strong>
  <%= @appointment.company %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
