<%= form_for(@timeslot) do |f| %>

  <br><br>

  <font size="4px">
  <div class="field">
    <strong><%= f.label :Attend_Date %></strong><br>
    <font size="2px"><%= "Please enter the date of the event you are adding. The format should be: MM/DD" %><br>
    <strong>Example: 09/07</strong><%= f.text_field :att_date%></font>
  </div>

  <div class="field"><br>
    <strong><%= f.label :Event %></strong><br>
    <font size="2px"><%= "Please select the event you are adding." %><br></font>
    <%= f.select :section, options_for_select(["Mock Interview 1", "Mock Interview 2", "Resume Clinic 1", "Resume Clinic 2", "Resume Clinic 3", "Lunch"]), :prompt => "---Please Select---" %>
  </div>

  <div class="field"><br>
    <strong><%= f.label :Time_Slot %></strong><br>
    <font size="2px"><%= "Please enter the time slots. The format should be: xx:xxam(pm)-xx:xxam(pm), no space in between" %><br>
    <strong>Example: 10:10am-10:30am, or 1:00pm-1:30pm </strong></font>
    <%= f.text_field :slot %>
  </div> 

  <div class="field"><br>
    <strong><%= f.label :Student_Capacity %></strong><br>
    <font size="2px"><%= "Please enter the maximum number of students that can attend this event at this time. " %>
    <strong>Enter a positive integer</strong><br>
    <%= f.number_field :stunum %>
  </div>
  </font>
  <br>
   
    <div class="actions" >
    <input type="submit" name="Submit" value="Create Timeslot" style=" width:180px; font-size: 20px; padding: 10px;" />
    </font>
  </div>
<% end %>
