<%= form_for(@timeslot) do |f| %>
  <% if @timeslot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timeslot.errors.count, "error") %> prohibited this timeslot from being saved:</h2>

      <ul>
      <% @timeslot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :att_date %><br>
    <%= f.text_field :att_date %>
  </div>
  <div class="field">
    <%= f.label :section %><br>
    <%= f.text_field :section %>
  </div>
  <div class="field">
    <%= f.label :slot %><br>
    <%= f.text_field :slot %>
  </div>
  <div class="field">
    <%= f.label :stunum %><br>
    <%= f.number_field :stunum %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
