<p id="notice"><%= notice %></p>

<h1>Listing Timeslots</h1>

<table border="3px" cellspacing = "0px" bordercolor = "#000000" cellpadding = "4">
  <thead>
    <tr>
      <th>Att date</th>
      <th>Section</th>
      <th>Slot</th>
      <th>Stunum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timeslots.each do |timeslot| %>
      <tr>
        <td><%= timeslot.att_date %></td>
        <td><%= timeslot.section %></td>
        <td><%= timeslot.slot %></td>
        <td><%= timeslot.stunum %></td>
        <td><%= link_to 'Show', timeslot %></td>
        <td><%= link_to 'Edit', edit_timeslot_path(timeslot) %></td>
        <td><%= link_to 'Destroy', timeslot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timeslot', new_timeslot_path %>

<br>
<%= link_to 'Back', sessions_url %>
