<p id="notice"><%= notice %></p>

<p>
  <strong>Attdate:</strong>
  <%= @timeslot.att_date %>
</p>

<p>
  <strong>Section:</strong>
  <%= @timeslot.section %>
</p>

<p>
  <strong>Slot:</strong>
  <%= @timeslot.slot %>
</p>

<p>
  <strong>Comnum:</strong>
  <%= @timeslot.comnum %>
</p>

<p>
  <strong>Stunum:</strong>
  <%= @timeslot.stunum %>
</p>

<%= link_to 'Edit', edit_timeslot_path(@timeslot) %> |
<%= link_to 'Back', timeslots_path %>
