<p id="notice"><%= notice %></p>

<p>
  <strong>Attend date:</strong>
  <%= @timeslot.att_date %>
</p>

<p>
  <strong>Section:</strong>
  <%= @timeslot.section %>
</p>

<p>
  <strong>Time slot:</strong>
  <%= @timeslot.slot %>
</p>

<p>
  <strong>Company number:</strong>
  <%= @timeslot.comnum %>
</p>

<p>
  <strong>Student number:</strong>
  <%= @timeslot.stunum %>
</p>

<%= link_to 'Edit', edit_timeslot_path(@timeslot) %> |
<%= link_to 'Back', timeslots_path %>
